:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* 123 */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}
button {
  line-height: 1.1;
  font-size: 1em;
  font-weight: 500;
}

button {
 
}

button:focus,
button:focus-visible {

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
 
  }
  button {
    background-color: #f9f9f9;
  }
}

.MemoizedMathJax {
  align-items: center;
}
mjx-mtd:last-child {
  min-width: 200px;
  text-align: left!important;
  padding-left: 10px!important;
}
.ShapeDisplay {
  display: inline-block;
  width: 100%;
  aspect-ratio: 1;
}


.ShapeDisplay button {
  background-color: transparent;
  border-radius: 0;
  margin: 0px;
}

.ShapeDisplay button:hover {
  background-color: rgb(246, 7, 79);
}

.ShapeDisplay button:active {
  transform: translate(0px, 2px);
  background-color: rgb(204, 14, 71);
  
}

.font {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
:root {
  --button-inactive: rgb(59, 55, 55);
  --button-halfactive: rgb(161, 73, 57);
  --button-active: rgb(245, 202, 146);
  --accent-dark: rgb(38, 38, 38);
  --theme-color: #ff5900; /* Change this to your desired theme color */
  --theme-color-dark:rgb(65, 23, 0); /* Change this to your desired theme color */

  --BACKGROUND1: rgb(64, 64, 64);
  --BACKGROUND2: #ffffff;
  --patternWidth: 50px;
  --BACKGROUND-PRIMARY: radial-gradient(circle, rgb(35, 35, 35) 50%, rgb(14, 14, 14) 100%);
  --TEXT: white;
  --background-outline: rgba(255, 255, 255, 0.227);
}

.section-title {  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (min-width: 500px) {
  .RightPanel {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .SelectorComponent__outer > button {
    flex-basis: calc(33.33% - 10px); /* Adjust percentage for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .SelectorComponent__outer > button {
    flex-basis: calc(50% - 10px); /* Adjust percentage for even smaller screens */
  }
}
.App {
  height: 100%;
  width: 100%;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
.App,html {
  /* pointer-events: none; */
}
.net1_1::before{
  position: absolute;
  transform: rotate(1deg) scale(1.01);
  z-index: -10;
  transform-origin: center -500px;
  content: '';
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  background:
      radial-gradient(35.36% 35.36% at 100% 25%,#0000 60%,var(--background-outline) 60% 74%,#0000 80%) var(--patternWidth) var(--patternWidth)/calc(2*var(--patternWidth)) calc(2*var(--patternWidth)),
      radial-gradient(35.36% 35.36% at 0    75%,#0000 60%,var(--background-outline) 60% 74%,#0000 80%) var(--patternWidth) var(--patternWidth)/calc(2*var(--patternWidth)) calc(2*var(--patternWidth)),
      radial-gradient(35.36% 35.36% at 100% 25%,#0000 60%,var(--background-outline) 60% 74%,#0000 80%) 0 0/calc(2*var(--patternWidth)) calc(2*var(--patternWidth)),
      radial-gradient(35.36% 35.36% at 0    75%,#0000 60%,var(--background-outline) 60% 74%,#0000 80%) 0 0/calc(2*var(--patternWidth)) calc(2*var(--patternWidth)),
      repeating-conic-gradient(#FFFFFF00 0 25%,#0000 0 50%) 0 0/calc(2*var(--patternWidth)) calc(2*var(--patternWidth)),
      radial-gradient(#0000 60%,var(--background-outline) 60% 74%,#0000 80%) 0 calc(var(--patternWidth)/2)/var(--patternWidth) var(--patternWidth)
      #dd000000;
}
.Header {
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  background: var(--BACKGROUND1);
  margin-bottom: 10px;
}
html, body {
  background: black;
}
.MainContent {
  display: flex;
  width: 100%;
  flex-direction: row;
}

button {
  font-family: Helvetica, sans-serif;
}



li *:empty{
  display: none;
}


mjx-container{
  margin: 0px!important;
}

#root {
  height: 100%;
  width: 100%;
}

*:focus {
  outline: none;
}
h1, h2, h3, h4, h5 {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: white;
  margin: 5px;
}


@media  (max-width: 600px)  {
  .App {
    display: block;
    margin: auto;
    flex-direction: column;
  }
}

@media  (max-width: 600px)  {
  .App {
    display: block;
    margin: auto;
    flex-direction: column;
  }
}

@media screen and (min-width: 800px) {
  
}

.info {
  border-top: 2px solid #eee;
  border-left: 2px solid #eee;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  background: #f5f5f590;
  margin: 5px;
}
.pointer {
  padding: "0px 3px",
}

.GeometryButton {
  margin: 0!important;
  position: absolute;
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
  text-align: center;
  width: calc(30px + 25%)!important;
  border-radius: 50%!important;
  border: 3px solid white!important;
  padding: 0px;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
}

.GeometryButton > svg {
  width: 100%;
  height: 100%;
  
}

.GeometrySelector {
  margin: 20px;
  text-align: center;
  min-width: 200px;
  min-height: 150px;
}

.GeometrySelector_inner {
  position: absolute;
  left: 25%; width: 50%;
  top: 25%; height: 50%;
}
/* SelectorPanel styling */
.SelectorPanel {
  display: flex;
  justify-content: left;
  pointer-events: all;
  flex-direction: column;
  left: 0;
  top: 0;
  height: 100%;
}

.SubgroupDiagram__button {
  position: absolute;
  aspect-ratio: 1; 
  height: fit-content; 
  padding: 40px 55px;
  margin-left: 0px;
  width: 50px;
  box-shadow: 0 5px 0px 0px rgba(0, 0, 0, 0.155);
}
/* Se
/* Button styling */
.SelectorGroup button {
  margin: 5px;
  outline: none;
  color: #ffffff;
  background-color: var(--theme-color-dark);
  /* animate the box shadow so when it's active it's depressed */
  transition-property: box-shadow, transform;
  
  animation: 0.05s ease-out 0s 1 depress;
  box-shadow: 0 5px 0px 0px rgba(0, 0, 0, 0.155);

  border-radius: 5px;

  width: max(15%, 38px);
  aspect-ratio: 1;

  border-radius: 5px;
  cursor: pointer;
}
.button:hover {

}

/* SelectorComponent__outer styling */
.SelectorComponent__outer {

}
.SelectorComponent__outer > *{
  margin-top: 20px;
  text-align: center;
}
.SelectorComponent__outer > .selected{
  box-shadow: 0 0px 0px 0px rgb(0, 0, 0);
  transform: translateY(5px);
}
.GeometryButton.selected, .SelectorComponent__outer > .selected, .SubgroupDiagram .selected {
  filter: brightness(1.5);
}
/* Geometry button that is also selected */
.GeometryButton.selected {
  box-shadow: 0 0px 2px 5px rgb(255, 255, 255);
}

/* SelectorComponent__outer h2 styling */
.SelectorComponent__outer h2 {
  margin-bottom: 10px;
}




/* Button styling for right panel */
.RightPanel button {
  margin: 8px;
  padding: 10px 15px;
  background-color: var(--theme-color-dark);
  color: #fff;
  border-radius: 10%; /* Rounded sides */
  cursor: pointer;
}
html, body {
  width: 100%;
  height: 100%;
}

html {

}
body {
  background: var(--BACKGROUND-PRIMARY)!important;
}

.MonoidInput-bottom, .GroupInput-bottom {
  height: 200px;
}
.MonoidInput__generators, .GroupInput__generators {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-inline: 20px;
  width: calc(100% - 40px);
}
.generator-button {
  backdrop-filter: brightness(0.8);
  color: #000000;
  border-width: 4px;
  /* make all of equal size, with flex*/
  width: calc(100% - 20px);
  flex-grow: 1;
  margin-top: 10px;
  margin-left: 10px; 
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.generator-column {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.reset-button {
  height: calc(100% - 10px);
  margin-right: 0;
  margin-left: 10px;
  align-self: flex-end;
  text-transform: uppercase;
  border-radius: 10px;
}
.App_header {
  width: 100%;
  height: 50px;
  /* a shadow that starts fully opaque at the top, then fades vertically */
  box-shadow: 0 0 10px 10px rgb(0, 0, 0);
  position: static;
}
.shapeName {

}
.MonoidInput-top,.GroupInput-top {
  font-size: 40px;
  height: 80px;
  padding-left: 20px;
  background: #0002;
  margin-left: 10px;
  margin-right: 10px;
  border-width: 0px 10px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5) inset;
  color: #d6d6d6;
}
.MonoidDisplay_outer {
  margin-top: 20px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  pointer-events: all;
}
.MonoidDisplay_header {
  width: calc(100% - 20px -2px);
  min-width: 100px;
  height: 50px;
  border: 1px solid grey;
  margin: 10px;

  /* a shadow that starts fully opaque at the top, then fades vertically */
}
.MonoidInput-value > span,.GroupInput-value > span{
  margin-top: 0px;
  vertical-align: text-bottom;
  height: 100%;
}
.MonoidInput-sequence > span,.GroupInput-sequence > span {
  width: min-content;
  height: 100%;
  margin-left: auto;
  margin-top: 0px;

}
.MonoidInput-sequence, .GroupInput-sequence {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}
.MonoidInput__buttons, .GroupInput__buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 5px;

}

.reset-button {
  margin-top: 5px;
}

.fraction_top {
  border-bottom:solid var(--TEXT) 1px; display:inline-block; float:left;
  margin-bottom: 2px;
 
  line-height: 14px;
}
.fraction_bottom{ 
  display:inline-block; clear:left; float:left;
  line-height: 25px;
  margin-bottom: -10px;
}
.fraction_bottom,.fraction_top {
  font-size: 18px;
  text-align: center;
  margin-left: calc(max(2px, 8%));
  width: calc(max(50px, 84%));
}
.lineBorder {
  border: solid rgba(0, 0, 0, 0.6);
  border-width: 1px 1px 1px 1px;
}
.labelled {
  border-width: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #FFF0;/*#EEED #2223 #4443 #DDDD;*/
  background: transparent;
}
mjx-mrow > mjx-mo:first-child, mjx-mrow > mjx-mo:last-child {

}
mjx-stretchy-v {
  height: 100%!important;
  vertical-align: -3.5em!important;
}
.QuaternionDisplay mjx-itable {
  width: 300px;
  height: 150px;
}

mjx-mtd:first-child {
  padding-left: 0;
}

mjx-mtd:not(:last-child) {
  padding: 0px;
  display: table-cell;
  text-align: center;
  padding-right: 0px !important;
  margin: 0px; 
}*/

.QuaternionMatrix {
  max-height: min-content;
  max-width: 400px;
  height: 100%;
  padding: 30px;
  
}

.QuaternionMatrix::before {
  width: 20px; content: "";
  height: 100%;
  background: rgb(66, 138, 239);
}
.QuaternionMatrix > tr {

}
.QuaternionMatrix > tr > td {
  width: 25%;
  margin-right: 0;
  margin-left: 0;
  text-align: center;
  font-family: 'MJXTEX';
  min-width: 80px;
}
.MainSelector_inner {
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: row;
}

.LeftPanel,.RightPanel,.MiddlePanel {
  flex-direction: column;
}

.LeftPanel {
  width: calc(min(20%, 400px));
}

.MiddlePanel {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  max-width: 800px;
  margin: 0 auto;
  pointer-events: all;
}
.MiddlePanel > div {
  min-width: 400px;

}

.MiddlePanel > div:first-child {
  display: inline-flex;

  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: 0px;
  width: 100%;
  min-height: fit-content;
  padding-bottom: 20px;
}
.MonoidInput,.GroupInput {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.GroupInput {
  padding-top: 0px;
}
.MonoidInput-bottom,.GroupInput-bottom {
  display: flex;
  padding-top: 10px;
  min-height: 240px;

}
/* not first child */
.MiddlePanel > div > div:first-child {
  flex-grow: 0;
}

.MiddlePanel > div:first-child > div:first-child {
  width: 45%;
}
.MiddlePanel > div:first-child > div:last-child {
  width: 55%;
}
.MidelPanel > div > *:last-child {
  margin-right: 0;
  margin-left: auto;
}
.RightPanel {
  min-width: 300px;
  max-width: calc(min(20%, 600px));
}
.not-ready {
  border: 2px dashed #0004;
  background-color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 40%;
  vertical-align: middle;
  /* all caps */
  text-transform: uppercase;
  font-size: 25px;
}
.highlighted-vertex {
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
}
.label {
  font-size: 80%;
    background: #ffffff;
  border-top-color: #FFFFFF;
  border-bottom-color: rgba(200, 200, 200, 20);
border-width: 0.05cqw 0;
border-radius: 10px;
border-style: solid;  
  width: min-content;
  height: min-content;
}
.label > div {

}
.Pointer > div > div  {
  padding: 0px 10px;
}
.SelectorGroup {
  position: relative;
  max-width: 400px;
  padding: 0px;
  top: 0;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}
.SelectorGroup > div {
  width: 100%;
  text-align: center;
}
.MainSelector__outer {
  pointer-events: all;
  z-index: 0;
}
.SectionTitle {
  margin-top: 0px;
  width: 100%;
  text-transform: uppercase;
  display: flex;
}
.vertexLabel {
  height: 10px;
  text-align: center;
  align-content: center;
}
.SectionTitle > h3 {
  font-weight: 200;
  letter-spacing: 2pt;
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
  /*font-family: Playfair Display, serif; */
  font-family: Helvetica, sans-serif;
}
.SectionTitle__line {
  flex-grow: 1;
  height: 18px;
  border-bottom: 1px solid #ffffff;
}
.MainSelector_button {
  border-radius: 1px;
}

.SubgroupDiagram {
  width: 100%; 
  pointer-events: all;
  aspect-ratio: 1;
  position: relative;
}
.SubgroupDiagram > div {
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
}

.SelectorComponent__outer {
  pointer-events: all;
  padding: 10px;
}
foreignObject > div {
  margin: 0 auto;
  width: 100%;
  height: 100%; 
  border-radius: 15px;
  transition-property: background-color;
  transition:cubic-bezier(1, 0, 0, 1) 0.1s;
}
.SubgroupDiagram span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 4px;
  left: 1px;
  color: white;
  user-select: none;
}

foreignObject span > div {
  margin: 0 auto;
  width: min-content;
  
}
#leva__root {
  pointer-events: all;
}
.ShapeDisplay {
  left: 20%;
  top: 0;
  height: 100%;
  z-index: 0;
  align-content: center;
}
.ShapeDisplay > div {
}

.CayleyGraph__holder {
  margin-top: 180px;
  width: 400px;
  height: 306px;
}

.CayleyGraph svg {

}

.SubgroupDiagram__holder {

}

.SubgroupDiagram__holder > div {
  display: flex;
  min-height: 25px;
  justify-content: center;
  padding-top: 5px;
}

.MonoidDisplay_buttons {
  height: 50px; display: flex; overflow-x: scroll;
}

.transform-button {
  display: inline-flex;
  margin: 0 auto;
  flex-basis: 100%;
  justify-content: center;
  padding: 10px;
}


.SubgroupChoice__outer {
  display: flex;
  height: "30px";
  width: 100%;
}

.SubgroupChoice__outer > div {
  font-size: 25px;
  margin-top: 10px;
  font-family: Helvetica;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: block;
  color: var(--TEXT)
}

.arrow-right{
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  
  border-left: 20px solid green;
}
.arrow-left  {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right:20px solid blue; 
}
.GroupInfo__holder {
  height: 100%;
}

.GroupInfo__holder > p > span {
  text-align: center;
}

.CayleyGraphEditor__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffffaa;
  overflow: hidden;
  z-index: 1;
  }
  
  .CayleyGraphEditor__outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width:  400px;
  background: white;
  border: 1px solid black;
  z-index: 10;
  padding: 30px;
  }
  
  .CayleyGraphEditor__button {
  border: 2px solid grey;
  padding: 5px;
  border-radius: 5px;
  background: #40a6f440;
  }

  .CayleyGraphEditor__body {
     
    
    border: 1px solid black;
    background: var(--BACKGROUND1);
    max-width: 500px;
  }
  
  .CayleyGraphEditor__grid {
    background-image: repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%), repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
    background-size: 10% 10%;

    width: 100%;
    aspect-ratio: 1;
   

  }

  .CayleyGraphEditor__grid svg {
    width: 100%;
    height: 100%;
  }

  .CayleyGraphEditor__lower {
    padding: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  .CayleyGraphEditor__lower > button {
    border: 2px solid grey;
    padding: 15px;
    vertical-align: middle;
    text-align: center; 
    align-items: center;
    /* vertical text align */
    display: flex;

    border-radius: 5px;
    background: #40a6f440;
  }

  .notification-container {
    
  }

  .CayleyGraph > * {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  .CayleyPanel__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 40px));
    gap: 2px; /* Adjust the gap as needed */
    max-width: 800px;
  }

  
  .CayleyPanel__grid button {
    border-width: 1px;
    color: white;
  }

  .CayleyPanel__grid > button:last-child {
    grid-column: span auto; /* Make the last button extend to the end */
  }

  .highlighted {
    background: var(--button-active);
  }
  .highlighted2 {
    background: var(--button-halfactive);
  }
  .inactive {
    background: #555;
  }

  button {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow for a skeuomorphic look */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition for smoother hover effect */
  }

button:hover {
 
}

.grid-item:last-child {
  grid-column: span 2; /* Make the last button extend to the end */
}